<div class="container-fluid">
    <div class="row">        
        <div class="col-md-10">
            <body ng-controller="gearAvailabilityController">
                <div class="span12">
                    <form ng-submit="ga.getGearAvailability()">
                        <legend>Available Gear</legend>
                        <label>Pickup Date</label>
                        <md-content><md-datepicker ng-model="ga.startDate" md-placeholder="Enter date"></md-datepicker></md-content>
                        <br/>
                        <label>Return Date</label>
                        <md-content><md-datepicker ng-model="ga.endDate" md-placeholder="Enter date"></md-datepicker></md-content>
                        <br/>
                        <input class="btn btn-primary" type="submit" value="Get Availability">
                    </form> 
                    <br/>     
                    <table class="table table-bordered table-striped">  
              		    <tr>
    		      	        <td><span style="font-weight:bold">Gear Type</span></td>
    		      	        <td><span style="font-weight:bold">Size</span></td>
    		      	        <td><span style="font-weight:bold">Quantity Available</span></td>
    		      	        <td><span style="font-weight:bold">Quantity Requested</span></td>										
    		    	    </tr>			
    		    	    <tr ng-repeat="item in ga.gearAvailabilityList">
    		      	        <td>{{item.name}}</td>
    		      	        <td>{{item.size}}</td>
    		      	        <td>{{item.QuantityAvailable}}</td>
    		      	        <td>
                                <input type="text" class="input-medium">
                            </td>										
    		    	    </tr>		  
    	            </table>
                </div>
            </body>
        </div>      
    </div>
</div>

