<!DOCYTPE html>
<base href="/"/>
<html ng-app="wta-gear-library">
  <head>
    <meta charset="UTF-8">
    <title>Verify Returns</title>
    <link href="styles/style.css" rel="stylesheet">
  </head>
  <body>
  <h2>Request Verification</h2>
    <div ng-controller="RequestDetailCtrl">
      <div ng-repeat="request in requests">
      <h3>Request {{request.requestId}} is now marked {{request.status}}</h3>
      <p>Borrower: {{request.borrower}} Due: {{request.dueDate.slice(0,10)}}</p>
          <table>
          <thead>
            <tr>
            <th>Item</th>
            <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in request.items">
            <td>{{item.gender}} {{item.size}} {{item.name}}</td>
            <td>{{item.quantity}}</td>
          </tr>
          </tbody>
        </table>
        <p><a href="/returns">&lt;&lt; back to manage returns</a></p>
      </div>
    </div>
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="./app.js"></script>
  </body>
</html>


