<!DOCYTPE html>
<html ng-app="wta-gear-library">
  <head>
    <meta charset="UTF-8">
    <title>Manage Returns</title>
    <link href="styles/app.css" rel="stylesheet">
  </head>
  <body>
  <h2> Returns to Verify </h2>
    <div ng-controller="Returns">
      <div ng-repeat="request in requests" ng-hide="!requests.length">
      <h3>Request #{{request.requestId}} </h3>
      <table>
        <thead>
          <tr>
            <td>Borrower</td>
            <td>Due:</td>
            <td>Status:</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{request.borrower}}</td>
            <td>{{request.dueDate.slice(0,10)}}</td>
            <td>{{request.status}}</td>
          </tr>
        </tbody>
      </table>
      <p>Items in this request:</p>
      <table>
          <thead>
            <tr>
            <th>Quantity</th>
            <th>Item</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in request.items">
            <td>{{item.quantity}}</td>
            <td>{{item.gender}} {{item.size}} {{item.name}}</td>
          </tr>
          </tbody>
        </table>
        <p><a href="{{'http://localhost:3000/src/client/checkinverification.html#?id=' + request.requestId}}">Mark as returned &gt; &gt;</a></p>
        <br />
      </div>
      <div ng-hide="requests.length">
        <p>There are no returns to verify.</p>
      </div>
  </div>
    <script src="/bower_components/angular/angular.js"></script>
    <!-- Core Application JavaScript -->
        <script src="/src/client/app/app.module.js"></script>
        <script src="/src/client/app/blocks/exception/exception.module.js"></script>
        <script src="/src/client/app/blocks/logger/logger.module.js"></script>
        <script src="/src/client/app/blocks/router/router.module.js"></script>
        <script src="/src/client/app/core/core.module.js"></script>
        <script src="/src/client/app/blocks/exception/exception-handler.provider.js"></script>
        <script src="/src/client/app/blocks/exception/exception.js"></script>
        <script src="/src/client/app/blocks/logger/logger.js"></script>
        <script src="/src/client/app/blocks/router/router-helper.provider.js"></script>
        <script src="/src/client/app/core/config.js"></script>
        <script src="/src/client/app/core/core.route.js"></script>
  </body>
</html>


